@import '~@citizensadvice/cads/index';

body {
  font-family: $font-family;
}

.trail-item::before {
  content: '\203A';
  padding-left: 0.5rem;
  font-size: 1.5rem;
  top: 0.125rem;
  position: relative;
  display: inline-block;
  color: RGB(159, 159, 159);
  padding-right: 0.5rem;
}
